textarea {
    resize: none;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    textarea {
        width: 100%;
    }
}
/* 
@media screen and (max-width: 390px) {
    textarea {
        width: 100%;
    }
} */
